@inject AuthenticationStateProvider AuthProvider

<AuthorizeView Roles="Admin,User">
    <Authorized>
        <nav class="navbar">
            <ul class="nav-list">
                <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
                <li><NavLink href="/beats">Beats</NavLink></li>
                <li><NavLink href="/cart">Cart</NavLink></li>
                </ul>
        </nav>
    </Authorized>
    <NotAuthorized>
        <nav class="navbar">
            <ul class="nav-list">
                <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
                <li><NavLink href="/beats">Beats</NavLink></li>
                <li><NavLink href="/login">Login</NavLink></li>
            </ul>
        </nav>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <Authorized>
        <li><NavLink href="/dashboard">Dashboard</NavLink></li>
        <li><NavLink href="/orders">Sells</NavLink></li>
        <li><NavLink href="/upload">Upload</NavLink></li>
    </Authorized>

</AuthorizeView>







@code {
    private bool isAdmin = false;
    private bool isLoggedIn = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isLoggedIn = user.Identity?.IsAuthenticated ?? false;   
    }
}