.navbar {
    background-color: #111;
    padding: 1rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-list li {
    color: white;
}

.nav-list li a.active {
    font-weight: bold;
    border-bottom: 2px solid white;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}
