@inject AuthenticationStateProvider AuthProvider

<AuthorizeView Context="authContext">
    <Authorized>
        <nav class="navbar">
            <ul class="nav-list">
                <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
                <li><NavLink href="/beats">Beats</NavLink></li>
                <li><NavLink href="/cart">Cart</NavLink></li>

                <AuthorizeView Roles="Admin" Context="adminContext">
                    <li><NavLink href="/dashboard">Dashboard</NavLink></li>
                    <li><NavLink href="/orders">Sells</NavLink></li>
                    <li><NavLink href="/upload">Upload</NavLink></li>
                </AuthorizeView>

                <li><NavLink href="/logout">Logout</NavLink></li>
            </ul>
        </nav>
    </Authorized>

    <NotAuthorized>
        <nav class="navbar">
            <ul class="nav-list">
                <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
                <li><NavLink href="/beats">Beats</NavLink></li>
                <li><NavLink href="/login">Login</NavLink></li>
            </ul>
        </nav>
    </NotAuthorized>
</AuthorizeView>


@code {
    private bool isAdmin = false;
    private bool isLoggedIn = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isLoggedIn = user.Identity?.IsAuthenticated ?? false;   
    }
}